[user]
	name = Andrew Bentley
	email = andrew.t.bentley@gmail.com
[alias]
st = status -s
lg = log --graph --pretty=format:\"%C(yellow)%h %Creset%C(cyan)(%cr)%Creset%C(red)%C(bold)%d%Creset %s\"
stat = diff --stat
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[core]
	pager = less -FRSX
[push]
	default = simple
[color]
	ui = always
